@media only screen and (max-width: 767px) {
    #carouselExampleSlidesOnly {
        position: relative !important;
        height: 100vh;
        width: auto;
    }
}

.body-login {
    background-image: none !important;
    font-family: "Roboto Light", Tahoma, Geneva, Verdana, sans-serif !important;
}

#carouselExampleSlidesOnly {
    position: fixed;
    width: 100%;
}

.login_section {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    /* margin: 20px; */
}

.login_form {
    position: relative;
    margin: 20px;
}

.login-title {
    color: rgb(255, 255, 255);
    /* margin: 50px; */
    font-size: 20px;
    /* letter-spacing: 5px; */
}

.btn_login {
    background-color: #ff0300;
    color: white;
    margin-bottom: 20px;
    margin-top: 50px;
}

.btn_login:hover {
    background-color: #fd4e4b !important;
    color: white;
}

.btn_login:focus {
    background-color: #fd4e4b !important;
    color: white;
}

#username,
#password,
#logreg_input {
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: none;
    /* border-bottom: 3px solid #ffffff; */
    background: rgba(0, 0, 0, 0.562);
    border-radius: 5px;
    color: white;
}


/* .login_input {
    background: rgba(255, 255, 255, 0.582);
} */

.sign_up {
    color: #fff;
    font-weight: bold;
}

.sign_up:hover {
    color: #fd4e4b;
}

.log_reg_label {
    /* font-size: 15px !important;
    font-weight: bold;
    float: left; */
    color: #fff !important;
}

.forgot_password {
    color: #ffffff;
    /* text-shadow: 1px 1px 2px black; */
    margin-bottom: 20px;
    font-size: small;
}

.forgot_password:hover {
    color: #ffffff;
}

.card {
    background: rgba(0, 0, 0, 0.781);
    /* border-radius: 20px; */
    backdrop-filter: blur(10px);
    /* border: 1px solid rgba(255, 255, 255, 0.692); */
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.562);
}

.footer-section {
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: -100;
}

.footer-section .row {
    text-align: center;
}

.btn_reset_password {
    background: #ff0300 !important;
    color: white;
}

.btn_reset_password:hover {
    background: #fd4e4b !important;
}

.verify_card {
    font-family: "bebas_neueregular";
    background: rgb(198, 60, 60) !important;
    background: linear-gradient( 198deg, rgb(198, 60, 60) 49%, rgb(70, 0, 0) 100%) !important;
}

.btn_verify {
    background: #ff0300 !important;
    color: white;
}

.btn_verify:hover {
    background: #fd4e4b !important;
}

.login_link a {
    color: #ff0300 !important;
    font-weight: bolder;
}

.reg-title {
    color: white;
    font-size: 30px;
}

.all-rights-reserved {
    z-index: 1000 !important;
}